*.tmp
*.swp
.gnome/*
.ssh/*
projects/*
Downloads/*
Desktop/*
Documents/*
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.cache/
.config/
.conkyrc
.dbus/
.dillo/
.dmrc
.dvdcss/
.e/
.elementary/
.fltk/
.gimp-2.8/
.gitconfig
.gnupg/
.histfile
.ibam/
.lesshst
.local/
.mplayer/
.multirust/
.pki/
.python_history
.qtile.log
.thumbnails/
.ts3client/
.viminfo
.xfce4-session.verbose-log
.xfce4-session.verbose-log.last
.xsession-errors
.xsession-errors.old
.zcompdump
.var/*
